body {
  font-family: 'Noto Sans', sans-serif;
}

.icon-box-wrapper {
  display: block;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  height: 90px;
}

.icon-box {
  display: block;
  width: 90px;
  height: 90px;
  float: left;
  font-size: 45px;
  line-height: 90px;
  text-align: center;
  color: #FFF;
  background-color: #374850;
}

.icon-content {
  display: block;
  margin-left: 90px;
  padding: 15px 10px 10px 20px;
}

.icon-text {
  text-transform: uppercase;
  display: block;
}

.icon-number {
  font-size: 28px;
  font-weight: bold;
  display: 700;
}

.table-buttons {
  margin-right: 3px;
}

.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
  background-color: #FFF;
}

.data-container {
  margin-bottom: 60px;
}

.adminlayout {
  margin-left: 220px;
}

.sidebar {
  width: 220px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  z-index: 20;
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
  background-color: #222d32;
}

#sidebar {
  padding-top: 10px;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.user-panel:before, .user-panel:after {
    content: " ";
    display: table;
}

.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}

.user-panel>.info, .user-panel>.info>a {
    color: #fff;
}

.user-panel>.info>a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}

.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}

.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a {
    color: #fff;
}

.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.user-panel:after {
    clear: both;
}

.sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.sidebar-form input[type="text"], .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}

.sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}

.sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}

.sidebar-form input[type="text"], .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}

.sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li>a {
    border-left: 3px solid transparent;
}
.sidebar a {
    color: #b8c7ce;
}
.sidebar-menu li>a {
    position: relative;
}
.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block;
}

.treeview-menu>li>a {
    color: #8aa4af;
}

.sidebar a:hover {
    text-decoration: none;
}

.sidebar a {
    color: #b8c7ce;
}

.sidebar-menu .treeview-menu>li>a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
}

.sidebar-menu li.active>a>.pull-right-container>.fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
}

.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 20px;
}

.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}

.treeview-menu>li.active>a, .treeview-menu>li>a:hover {
    color: #fff;
}
.sidebar a:hover {
    text-decoration: none;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.small-box>.inner {
    padding: 6px;
}

.small-box h3, .small-box p {
    z-index: 5;
}

.small-box h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 7px 0;
    white-space: nowrap;
    padding: 0;
}
.small-box p {
    font-size: 12px;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 60px;
    color: rgba(0,0,0,0.15);
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
    color: #FFF;
}

.box-indicator {
  margin-top: 10px;
}

.place-label {
  margin: 3px 3px 3px 0px;
  font-size: 14px;
}

.suggest-box {

}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  -webkit-padding-start: 0px;
  max-height: 200px;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  z-index: 10;
  overflow: scroll;
  border: 1px solid #ccc;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.react-autosuggest__suggestion {
    color: #444;
    cursor: pointer;
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
}

.react-autosuggest__suggestion--focused {
  background-color: #DDD;
}

.place-label {
  padding-top: 6px;
  padding-bottom: 6px;
  display: inline-block;
}

.remove-label {
  cursor: pointer;
  margin-left: 3px;
}

.entry-textarea {
  height: 400px;
}

.wysiwyg-editor {
  height: 300px;
  overflow: scroll;
}

.wysiwyg-button {
}

.wysiwyg-controls {
  display: flex;
  margin-bottom: 5px;
}

.public-DraftEditorPlaceholder-inner {
  color: #999;
}

.public-DraftEditorPlaceholder-hasFocus {
  display: none;
}

.single-entry {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 6px;
}

.place-label-list {
  margin-right: 3px;
  display: inline-block;
}

.label-area {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-search {
  margin-right: 6px;
}

.more-options {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}

.more-settings {
  margin-top: 6px;
}

.search-home-area {
  min-height: 32px;
  margin-bottom: 10px;
}

.result-area, .result-area h3 {
  margin-top: 10px;
}

.scrollable {
  pointer-events:none;
}

.preview-area {
    zoom: 0.3;
    padding: 10px 0;
    -moz-transform: scale(0.3);
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 900px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.dashboard-control-buttons {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 7px;
}

.dash-area {
  margin-bottom: 20px;
}

.dash-title {
  display: inline-block;
  margin-right: 10px;
}

.entry-edit-input {
  border: 1px dotted;
  background-color: rgba(255,255,255,0.3);
  margin-bottom: 6px;
}

.entry-edit-input:focus {
  background-color: rgba(255,255,255,0.8);
}

#nameInput {
  font-size: 30px;
  height: 42px;
}

.inline-block {
  display: inline-block;
}

.edit-controls button {
  margin-left: 6px;
}

.new-button {
  margin-top: 20px;
}

.not-published {
  opacity: 0.3;
}

.growl-top-right {
  margin-top: 30px;
}

.edit-panel {
  margin-bottom: 6px;
}

.logo-container {

}

.name-container {

}

.logo-image {
  max-width: 200px;
}

.jumbotron {
  background-color: #FFF;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #eee;
}

.header-title {
  padding-top: 10px;
  margin-top: 10px;
  line-height: 1;
}

.empty-dash {
  margin-top: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 6px;
  color: #ccc;
}

.navbar-collapse {

}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin-left: 6px;
}

.mobile {
  height: 50px;
  position: fixed;
  z-index: 2;
  bottom: 0;
  padding: 5px;
}

.mobile .footer-right {
    float: none;
    margin: 0 auto 10px;
    max-width: 270px;
}

.mobile .footer-right a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #004d40;
  border-radius: 20px;
  font-size: 15px;
  color: #ffffff;
  padding-left: 2px;
  text-align: center;
  line-height: 40px;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3);
  }

.mobile.footer-distributed {
  background-color: transparent;
}

.register-link {
  font-size: 18px;
  font-weight: bold;
}

.btn-handle {
  margin-right: 6px;
}

.logo-input::-webkit-file-upload-button {
  display: none;
  width: 83px;
  overflow: hidden;
}

.logo-input::before {
  content: 'Update logo';
  display: inline-block;
  color: #FFF;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #43ac6a;
  border-color: #3c9a5f;
}
.logo-input:hover::before {
  color: #ffffff;
  background-color: #358753;
  border-color: #2b6e44;
}
.logo-input:active::before {
  color: #ffffff;
  background-color: #358753;
  border-color: #2b6e44;
}

.logo-input:active::focus, .logo-input:active::active {
  color: #ffffff;
  outline: none;
  background-color: #358753;
  border-color: #2b6e44;
  width: 83px;
  overflow: hidden;
}

.logo-input-wrapper {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.hide-overflow {
  display: inline-block;
  width: 83px;
  float: left;
  overflow: hidden;
}

.delete-logo {
  float: left;
}

.img-responsive.editing {
  border: 1px dotted rgb(111, 111, 111);
}

.strong-area {
  margin-left: 6px;
}

.list-row {
  transition: all 300ms ease-in-out;
}

.info-container {
  margin-bottom: 30px;
}

.add-section-wrapper {
  margin-top: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.public-DraftEditor-content {
  color: #666;
  line-height: 1.8;
  font-size: 1.68rem;
  padding-left: 15px;
  padding-right: 15px;

}
.create-section {
  float: left;
  margin-right: 6px;
  margin-top: 6px;
}

.create-section-wrapper {
  display: inline-block;
}

.section-text {
  margin-left: 6px;
  margin-right: 6px;
}

.entry-container {
  position: relative;
}

.single-section {
  height: 500px;
}

.affix-wrapper {
  max-width: 1170px;
  width: 100%;
  margin-top: -65px;
  transition: top 300ms ease-in-out;
/*  -webkit-transition: top 1s ease-in-out;
  -moz-transition: top 1s ease-in-out;
  -o-transition: top 1s ease-in-out;
*/
}

.affix {
  top: 0;
  z-index: 2;
  margin-top: 0px;
  transition: margin-top 300ms ease-in-out;
}

.anchor {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

#navRow {
  padding-top: 66px;
}

.section-header {
  margin-top: 50px;
  display: block;
  margin-bottom: 20px;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .affix-wrapper {
    max-width: 1170px;
    left: inherit;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .affix-wrapper {
    max-width: 970px;
    left: inherit;
  }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .affix-wrapper {
    max-width: 750px;
    left: inherit;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .affix-wrapper {
    max-width: 100%;
    left: 0;
  }
}

@media only screen and (min-width : 320px) {
  .affix-wrapper {
    max-width: 100%;
    left: 0;
  }
}

.brand-image {
  height: 36px;
  margin-top: -8px;
  border-radius: 4px;
  display: inline;
  float: left;
}

.navbar-text {
  display: inline-block;
  margin: 0px 0px 0px 5px;
}

#calendar {
  margin-bottom: 60px;
}

.calendar-wrapper {
  margin-top: 40px;
}

.mobile-badge {
  position: absolute;
  z-index: 3;
}

.send-message-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact-favourites {
  margin-right: 10px;
}
