// core
@padding-left: 5px;
@padding-right: 5px;

@basic-padding: 5px;

@margin-left: -5px;
@margin-right: -5px;

@border-radius: 2px;

@background: #FAFAFA;

@background-front: #FFF;

// background colors
@default: #2962ff;
@default-hover: #1565c0;
@primary: #4a148c;

@default-button: #FFF;

// links
@default-link: #FFF;

// border radius
@default-border-radius: 2px;

// default height
@default-height: 36px;

// default shadow
@default-shadow: 0 2px 2px 0 rgba(0,0,0,0.08),0 1px 2px 0 rgba(0,0,0,0.08),0 2px 1px -2px rgba(0,0,0,0.1);

// fa zoom
@fa-zoom: 100%;

// reading text
@text-color: #666;
@text-size: 1.68rem;
@text-line: 1.7;
